.back_img{
  background-image: url('../img/g.jpg'); 
  position: relative;
  /* background-image: url("img/g.jpg"); */
}
p{
  text-align: center;
}
.logo{
  width:80% ;
}

#heading {
  font-size: 48px;
  
}
/* h1{
  font-size: 2.0rem;
  font-size: 2.3rem;
  color: #333333;
  background-color: transparent;
} */
h2{
  margin: 10px 10px;
}
.parallax-window {
  min-height: 1100px;
  background: transparent;
}
.container-fluid {
  max-width: 1310px;
}
.tmHome {
  padding-top: 30px;
  padding-bottom: 68px;
}
.tm-home-left {
  max-width: 420px;
  width: 100%;
  margin-left: auto;
  color: white;
  
}
.tm-home-right{
  max-width: 420px;
  border: solid 2px #fff;
  padding: 10px 5px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}
.tm-home-rr{
  background-color: #fff;
  border-radius: 10px;  
  padding: 5px;
}
.tm-brand-row {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 28px;
}
.tm-home-container {
  display: flex;
  justify-content: center;
}
.tm-brand-container {
  max-width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}
.tm-brand-icon {
  /* width:"80%"; */
  width: 79px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333436;
  border-radius: 50%;
  margin-right: 25px;
}

.tm-brand-name {
  line-height: 43px;
  font-size: 3.5rem;
  background-color: transparent;
  color: black;
}
.tm-slogan {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.tm-home-hr {
  border-top-color: white;
  margin-bottom: 30px;
}

.tm-home-title {
  font-size: 3.5rem;
  margin-bottom: 40px;
}
.tm-home-text {
  margin-bottom: 47px;
}
.tm-p-tag{
  color:black;
}
.tm-home-li {
  margin: 10px;
  padding: 10px 10px;
  list-style: none;
  color: #fff;
  background-color: #95c99b;
  border-radius: 10px;
}
.tmFeatures {
  justify-content: center;
   columns: 100px 3;
   width: fit-content;
   padding-top: 68px;
  padding-bottom: 60px;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto; 
}
.tm-feature-box {
  margin-bottom: 45px;
  width: 250px;
  min-height: 350px;
  border-radius: 10px;
  text-align: center;
  height: 350px;
  padding: 40px 50px;
  margin-left: auto;
  margin-right: auto;
}

.tm-feature-name {
  color: black;
  margin-bottom: 50px;
}
.tm-img{
  border-radius: 50%;
  width: 100% ;
}

.tm-feature-icon-container {
  width: 110px;
  height: 110px;
  border: 1px solid #3E3F40;
  border-radius: 50%;  
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.tmCallToAction {
  padding-top: 60px;
  padding-bottom: 60px;
}


.tm-call-to-action-col {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.tm-call-to-action-image {
  margin: 15px;
  border-radius: 10px;
}
.tm-copyright-text {
  color: white;
  font-size: 1rem;
  padding-top: 50px;
  padding-bottom: 45px;
}

/* Media Queries */
@media (max-width: 991px) {
  .tmFeatures {
    display: contents;
    justify-content: center;
    columns: 100px 3;
    width: fit-content;
    padding-top: 68px;
    padding-bottom: 60px;
    max-width: 1260px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
  .tm-home-left {
   margin-right: 50px;
   }
 .tm-feature-box {
  flex-direction: column;
   margin-bottom: 20px;
   max-width: 600px;   
 }
}

@media (max-width: 849px) {
  .tm-call-to-action-col {
    flex-direction: column;
  }

  .tm-call-to-action-image {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px ) {
  
  .tm-home-container {
    flex-direction: column;
  }
  .tm-home-right {
    flex-direction: column;
    margin-bottom: 50px;
    
  }
  .tm-home-left {
    flex-direction: column;
    margin-bottom: 50px;
    
  }
}